%p
  %strong What are you waiting for?
  %br
  Go ahead and add your recommendations for
  %strong= voting.title.titleize
  %br
  = link_to 'Add my recommendations', voting_path(voting), class: 'active-voting__link'

