%p
  Don't miss the chance and
  %strong UPVOTE
  for your recommendations
  %br
  %small (and maybe downvote the ones from your foes >:D)
  %br
  = link_to 'I want to upvote my recommendations', voting_path(voting), class: 'active-voting__link'

