%h2.dashboard__title= voting_title(@last_voting)

.dashboard__distributor
  = render partial: 'dashboard_item', collection: @items

- content_for :javascripts do
  :javascript
    $(document).ready(function(){
      RateFast.ScrollTo.scroll("##{today}");
    });

