.dashboard__title {
  border-bottom: 2px solid $black40;
  font-size: 2rem;
  padding: 10px;
  text-align: center;
}

.dashboard__distributor {
  text-align: justify;

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}
