@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

html {
  color: $baseColor;
  font: $baseFont;
  line-height: 20px;
  height: 100%;

  @include breakpoint($small) {
    font-size: 14px;
  }
}

a {
  color: $baseColor;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.header__logo {
  width: 240px;
}
