#how_it_works
  %br
  = image_tag 'hiw.jpg', class: 'centered'

  %br
  %br
  %h3 What others have to say

  %p
    It all starts with the need of knowing the opion of others about something,
    and the better way of knowing is asking!

  %p
    Your start by creating a poll, putting some items in there to be voted and
    letting your friends to participate by voting.

  = image_tag 'poll.jpeg'

  %h3 Your opinion matters

  %p
    When a voting is ready for you to participate, you will have the chance to
    upvote (or downvote) the items and make your favorite climb up to the top
    of the list.

  %p
    Make your favorites win! no one have to know for what did you choose or voted,
    voting is made secretly so you dont influenciate others or get influenced.

  %h3 Results in the palm of your hand

  %p
    When the voting is over, results are ready to be shown, and you will have them
    right away and 1 click distance, so you can check them fast and easy.
  %br
  %h2 Thanks for participating!
  %br





