.active-voting {
  @extend %slide-panel__right;
  @include span(10);
  background-color: $redBrick;

  color: $white;
  text-align: center;

  @include breakpoint($medium) {
    @include span(full);

    height: auto;
    position: inherit;
  }
}

.active-voting__content {
  @include vertical-align;

  @include breakpoint($medium) {
    transform: inherit;
  }
}

.active-voting__link {
  color: $yellowEquator;
  text-decoration: underline;
}
