.header {
  padding: 10px 0;
}

.header__distributor {
  text-align: justify;

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}

.header__menu-icon,
.header__app-title,
.header__vote {
  display: inline-block;
  vertical-align: middle;
}

.header__app-title {
  font-size: 1.5rem;
  text-transform: uppercase;
}

