.items {
  @include span('full');

  @include breakpoint($medium) {
    @include span(6 of 12);
  }

  .item {
    margin-bottom: 20px;

    .span2 {
      margin-top: 20px;
      @include breakpoint($medium) {
        margin-top: 30px;
      }

    }
  }

  .item-draggable {
    border: 1px solid #666;
    cursor: move;
    margin: 10px 0;
  }

  .item-title {
    @include span(6 of 12)
  }
}

.days {
  @include span(4 of 12);

  .day-droppable {
    border: 1px solid $redOldBrick;
    height: 100px;
    margin: 10px 0;
  }
}

.scheduled {
  @include span(4 of 12)
}
