.recommendations {
  .btn-vote {
    border: none;
    height: 35px;
    padding: 0;
    width: 35px;

    &.down-vote {
      background: image_url('down-off') center no-repeat;

      &:disabled {
        background: image_url('down-on') center no-repeat;
      }
    }

    &.up-vote {
      background: image_url('up-off') center no-repeat;

      &:disabled {
        background: image_url('up-on') center no-repeat;
      }
    }
  }

  .dashboard-item__content {
    text-align: center
  }

  .dashboard-item__week-day {
    display: none
  }

  a.btn {
    position: relative;
    top: 10px;
  }
}
