@import 'colors';

// Breakpoints
$medium: min-width 768px;

// Animations
$transitionTime: 500ms !default;

// Fonts
$openSans: 14px normal (Open Sans, sans-serif);
$montserrat: 14px normal ('Montserrat', sans-serif);
$josefine: 14px normal ('Josefin Sans', sans-serif);

// HTML/Body
$baseColor: $black !default;
$baseFont: $josefine !default;

// Inputs
$labelColor: $grayCapeCode !default;
$legendColor: $grayCapeCode !default;

// Buttons
$baseButtonColor: $white !default;
$baseButtonBackground: $redFireEngine !default;

// Theme
$activeVotingBackground: $redDarkTan, $redSiena;
$headerBackground: $black;
$headerColor: $yellowEquator;
$headerMessagesBackground: $black40;
