.dashboard-item {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;

  @include breakpoint($medium) {
    @include span(2);

    border-bottom: none;
    display: inline-block;
    float: none;
    vertical-align: top;
  }
}

.dashboard-item__week-day {
  font-size: 1.2rem;
  font-weight: normal;
  padding: 10px 0;
  color: $black40;

  .today & {
    color: $orangePeel;
    font-weight: bold;
  }
}

.dashboard-item__content {
  background-color: $white;
  position: relative;

  .today & {
    border: 5px solid $orangePeel;
  }
}

.dashboard-item__image-wrapper {
  height: 0;
  padding-bottom: 100%;
  width: 100%;
  overflow: hidden;
}

.dashboard-item__image {
  min-height: 100%;
  width: 100%;
}

.dashboard-item__title {
  color: $black80;
  font-size: 1.5rem;
  padding: 15px;
}

.dashboard-item__birthday-boy {
  margin: 0;
  padding: 15px;
  color: $black40;
}

.dashboard-item__footer {
  padding: 10px 0;
}

.dashboard-item__feedback-button {}

.dashboard-item__birthday-badge {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 60px;

  @include breakpoint($medium) {
    top: -20px;
    left: -20px;
  }
}
