%aside.active-voting{ class: ('open' if @current_voting) }
  .active-voting__content
    - if @current_voting
      = render partial: @current_voting.status, locals: { voting: @current_voting }
    - else
      %p
        %strong There's no active voting right now.
        %br
        Come back later to see if there's an active voting.

