%header.header
  .header__top-bar
    .header__distributor.container
      - if user_signed_in?
        %a.header__menu-icon{ href: destroy_user_session_path, title: 'Sign out' } Sign Out
      - else
        %a.header__menu-icon{ href: new_user_session_path, title: 'Sign In' } Sign In
      %a.header__app-title{ href: '/', title: 'Rate Fast Home' } Rate Fast
      %a.header__vote{ href: votings_path, title: 'Vote Now' } Vote Now

  .header__banner
    = image_tag 'ratefast_logo.png', class: 'header__logo', alt: 'Rate Fast Logo'

