%header.header
  .header__top-bar
    = link_to 'How it works', how_it_works_path, class: 'header__link'
    .header__user-menu
      - if user_signed_in?
        - if current_user.admin?
          %a.header__link{ href: admin_dashboard_path, title: 'Admin Dashboard' } Admin
          .separator
        - else
        %a.header__link{ href: destroy_user_session_path, title: 'Sign out' } Sign Out

      - else
        %a.header__link{ href: new_user_session_path, title: 'Sign In' } Sign In

  .header__banner
    = link_to root_path do
      = image_tag 'logo-v2.png', class: 'header__logo', alt: 'Rate Fast Logo'

  %a.header__link.header__vote{ href: votings_path, title: 'Vote Now' } Vote Now


