%header.header
  .header__distributor
    %a.header__menu-icon{ href: '#', title: 'User Menu' } User menu
    = image_tag 'logo.png', class: 'header__logo', alt: 'Ratefast'
    %a.header__vote{ href: votings_path, title: 'Vote Now' } Vote Now
